:root {
    /*** OVERIDE VARIABLES BOOTSTRAP  ***/
    --navbar-height: 56px;
}

body {
    padding-top: var(--navbar-height);
    min-height: 100vh;
}

footer {
    margin-top: auto;
}

.numberCircle {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 7vw;
    height: 7vw;
    padding: 0.5rem;

    background: #e42c2c;
    border: 2px solid #c4bfbf;
    color: #ffffff;
    text-align: center;

    font-size: clamp(0.6rem, 2vw, 2rem);
    font-weight: bolder;
}