<div class="container justify-content-center my-2 py-2">
	{% for listArme in listArmes %}
		<div class="card d-flex flex-row">
			<div class="img" style="max-width:20%;"><img class="img-thumbnail rounded float-left" src="{{ "assets/images/" ~ listArme.img }}" alt="Card image cap"></div>
			<div class="card-body w-70">
				<h5 class="card-title">{{ listArme.name }}</h5>
				<p class="card-text">{{ listArme.description }}</p>
			</div>
		</div>
	{% endfor %}
</div>