<div class="container justify-content-center my-2 py-2">
	{% for listArme in listArmes %}
		<div class="card d-flex flex-row mb-4">
			<div class="img" style="max-width:20%;"><img class="img-thumbnail rounded float-left" src="{{ "assets/images/" ~ listArme.img }}" alt="Card image cap"></div>
			<div class="card-body w-70">
				<h5 class="card-title">{{ listArme.name }}</h5>
				<p class="card-text">{{ listArme.description }}</p>
			</div>
			<div style="min-width:10%;" class="bg-danger d-flex flex-column text-center justify-content-center align-item-center w-20" style="max-width:20%;">
				<h2 style="color:white">{{ listArme.risk_level }}</h2>
			</div>
		</div>
	{% endfor %}
</div>