<div class="container error-warning">
	<ul>
		<li>
			<div>
				<p>
					Distance a parcourir: 400 km</p>
				<img src="assets/images/walk.png" style="max-width:10%;">
			</div>
			<div>
				<p>
					Durée du trajet: 8km
				</p>
				<img src="assets/images/day.png" style="max-width:10%;">
			</div>
		</li>
	</ul>
</div>