<div class="container justify-content-center my-2 py-2">
	<ul class="px-0">
		{% for gauge in gauges %}
			<li class="py-2 my-2" style="list-style-type: none;">
				<div class="px-5">
					<label for=" namegauge">{{ gauge.type }}</label>
				</div>
				<div class="d-flex flex-row">
					<div class="w-10 px-2">
						<img src="/assets/images/human-skull.png" style="width:1.4rem" alt="">
					</div>
					<div class="progress w-100" style="height: 2rem;">
						<div class="progress-bar progress-bar-striped bg-danger" role="progressbar" aria-valuenow="{{ gauge.score }}" style="width: {{ gauge.score }}%" aria-valuemin="0" aria-valuemax="100">
							{{ gauge.score }}%</div>
					</div>
				</div>
			</li>
		{% endfor %}
	</ul>
</div>